body {
  cursor: url("https://github.com/TheNickVargasExperience/thenickvargasexperience/blob/master/resources/images/nickpointermain.png"), url("./images/nickpointermain.png"), default;
}

a, button {
  cursor: url("https://github.com/TheNickVargasExperience/thenickvargasexperience/blob/master/resources/images/nickpointer.png"), url("./images/nickpointer.png"), crosshair !important;
}
::-moz-selection {
  background: rgba(247, 0, 0, 0.7);
}
::selection {
  background: rgba(247, 0, 0, 0.7);
}
.banner {
  background-image: url("images/nickceptionsmall2.jpg");
  width: 100%;
  height: 75vw;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
}
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 5rem auto 10rem auto;
  width: 75vw;
}
.intro h1 {
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: 1px solid grey;
}
.intro p {
  text-align: justify;
}
.section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7rem;

}
.nickfacts{
  border-radius: 5px 10px;
  background-color: whitesmoke;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}
.nickpic img {
  width: 100%;
  height: auto;
}
.nickfacts h2 {
  margin-top: 2rem;
}
.section h2 {
  text-align: center;
}
.section ul{
  margin-top: 2rem;
  list-style-position: inside;
  padding-left: 1rem;
}
.section li {
  line-height: 2;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 1rem;
  background-image: url("https://github.com/TheNickVargasExperience/thenickvargasexperience/blob/master/resources/images/nickface.png");
  background-repeat: no-repeat;
}
.mainContent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slidePic img {
  max-height: 75vh;
  max-width: 85vw;
  margin: auto;

}
.slideShow {
  max-height: 85vh;
  margin-top: 10rem;
}
.slideShow .slick-prev, .slideShow .slick-next{
  z-index: 10;
}
.slick-prev:before, .slick-next:before {
  color: rgb(181, 181, 181);
}
.slidePic{
  margin: auto;
  padding: 10px;
}

.slidePic h1{
  color: black;
  text-align: center;
}
.slidePic p {
  color: grey;
  font-style: italic;
  text-align: center;
}
.slidePic img {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px){
  .slidePic img {
    height: 400px;
    width: auto;
    margin: auto
  }
  .banner {
    background-image: url("images/nickception.jpg");
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 10rem;
}
.mainContent{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
  .slidePic {
    margin: auto;
    padding: 40px;
    width: 100%;
  }
  .slideShow p {
    max-width: 500px;
    margin: auto;
  }
  .slideShow .slick-prev {
    margin-left: 5rem;
  }
  .slideShow .slick-next {
    margin-right: 5rem;
  }
}
